# CONFIGURA TUS CUENTAS Y REGLAS DE REENVIO. 
# ABRE EL ARCHIVO README-LEEME.html PARA VER LA GUIA DE COMO CONFIGURAR Y CONSEGUIR TOKENS
# 
# SET UP YOUR ACCOUNTS AND FORWARDING RULES.
# OPEN THE README-LEEME.html FILE TO SEE THE GUIDE ON HOW TO SET UP AND GET TOKENS

# REGLA_N# = "adapterId:chatId:inout,"
# Plataforma_N# = "token"